<div class="well">
  <div class="row">
    <div class="col-xs-12">
      <form id="search-heatmap" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <div class="row">
          <div class="col-xs-6 form-group">
            <label for="city">City</label>
            <input
              type="text"
              id="city"
              required
              class="form-control"
              [ngModel]="city"
              name="city">
          </div>
          <div class="col-xs-4" style="margin-top: 25px">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Search popular areas</button>
            <div *ngIf="isSearching">
              <span>searching ...</span>
            </div>
            <div *ngIf="receivedResult">
              <span>done!</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-map></app-map>
